@import '../../styles/global.scss';

.artIndexExhibition {
  display: block;
  max-width: var(--container-width-md);
  margin: 0 auto;
  padding-top: var(--spacing-md);
  border-top: 4px solid var(--colour-grey-darkest);

  h1 {
    margin-top: 0;
    font-weight: 400;
    font-size: var(--font-size-xxxlg);
    font-family: var(--font-art-index);
    line-height: 1.2;
  }

  h2 {
    color: var(--colour-grey);
    font-weight: 400;
    font-size: var(--font-size-sm);
    font-family: var(--font-primary);
  }

  h3 {
    font-weight: 400;
    font-size: var(--font-size-lg);
    font-family: var(--font-art-index);
    letter-spacing: 0;
    text-transform: none;
  }
}

.type {
  @extend .font-uppercase;

  margin-bottom: 0;
  color: var(--colour-grey);
  font-size: var(--font-size-sm);
}

.content {
  @include media-sm {
    display: grid;
    grid-template-areas:
      'location stats'
      'formats stats'
      'worksByArtists stats';
  }
}

.location {
  grid-area: location;
}

.stats {
  display: flex;
  grid-area: stats;
  justify-content: space-around;
  margin-bottom: var(--spacing-md);
  border-top: 1px solid var(--colour-grey-darkest);
  border-bottom: 1px solid var(--colour-grey-darkest);

  @include media-sm {
    flex-direction: column;
    justify-content: flex-start;
    width: 16ch;
    height: min-content;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid var(--colour-grey-darkest);
  }
}

.formats {
  grid-area: formats;
}

.worksByArtists {
  grid-area: worksByArtists;
}

.artist {
  margin-bottom: 0;
  font-size: var(--font-size-md);
}

.format {
  margin-left: var(--spacing-xs);
  color: var(--colour-grey);
  font-size: var(--font-size-sm);
}

// .moreLink {
//   margin-left: var(--spacing-xs);
//   font-size: smaller;
// }

.artistLink {
  display: flex;
  align-items: center;
}

.artistThumbnail {
  margin-right: var(--spacing-xxxs);
}

.artistWork:link,
.artistWork:visited {
  color: var(--colour-white);
}

.artistWorks {
  margin-top: var(--spacing-xxs);
  margin-left: var(--spacing-xxxlg);
  padding-left: 0;
  list-style-type: none;
}
