@import '../../styles/global.scss';

.artIndexGenderLegend {
  display: flex;
  justify-content: center;

  p {
    margin-bottom: 0;
    text-transform: capitalize;
  }
}

.legendItem {
  display: flex;
  align-items: center;
  margin-right: var(--spacing-xxlg);

  &:last-child {
    margin-right: 0;
  }
}

.legendLine {
  width: var(--spacing-xlg);
  height: 1px;
  margin-right: var(--spacing-xs);
}
